body{
    margin: 0px;
}
nav{
    background-color: black;
    width: 100%;
    padding: 15px;
}
nav span{
    font-size: 20px;
    color: white;
}
div{
    margin-left: 15px;
    margin-right:10px;
}
a button{
    
    color: black;
    font-size: 15px;
    background-color: rgb(209, 209, 209);
}


.tsm_logo{
    width: 600px;
    height: 350px;
}
ol{
    margin : 0px;
    padding-left: 15px;
}
ul{
    margin-top: 0px;
    padding-left: 15px;
}
.bottom2headings{
    margin-bottom: 14px;
}